.CodeExample__figure {
  margin: var(--daui-spacing) 0;
  border-left: 1px solid
    hsla(
      var(--daui-foreground-hue),
      var(--daui-foreground-saturation),
      var(--daui-foreground-lightness),
      0.4
    );
  border-radius: 1.2em;
  padding: 1em;
  padding-right: 0;
}

.CodeExample__figcaption {
  margin-bottom: 1em;
  font-size: 120%;
  font-style: italic;
}
