.figure {
  margin: 2.5rem 0;
}

.figcaption {
  margin: 0 1em;
  max-width: 30em;
  line-height: var(--daui-line-height);
  font-style: italic;
}

.result {
  position: relative;
  box-sizing: border-box;
  margin-top: 0.5em;
  border: 2px solid
    hsla(
      var(--daui-shade-hue),
      var(--daui-shade-saturation),
      var(--daui-shade-lightness),
      var(--daui-shade-opacity)
    );
  border-radius: 0.75em;
  width: fit-content;
  max-width: 100%;
}

.result::before {
  content: '';
  position: absolute;
  left: 1.5em;
  bottom: 100%;
  margin-bottom: 2px;
  height: 0.5em;
  border-left: inherit;
}

.preview {
  padding: 0.75em;
}

.preview > div {
  max-width: 100%;
}
